body {
    background-color: rgb(242, 190, 93);
    padding-top: 15px;
    padding-bottom: 15px;
}

h1 {
    text-align: center;
}
img {
    padding-bottom: 10px;
}
.card {
    background-color: rgb(237, 182, 80);
    padding-top: 10px;
    border-color: black;
}

h2 {
    text-decoration: underline;
}

.burgerList {
    font-size: 20px;
    color: red;
}

#burgerName {
    font-size: 20px;
}

button {
    font-size: 16px;
}


